---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bazarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bazarr
  template:
    metadata:
      labels:
        app: bazarr
    spec:
      containers:
        - name: bazarr
          image: ghcr.io/hotio/bazarr:release-1.5.3
          envFrom:
            - configMapRef:
                name: bazarr-configmap
          ports:
            - containerPort: 6767
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: bazarr-config
              subPath: bazarr/config
            - mountPath: /data
              name: bazarr-data

      restartPolicy: Always
      volumes:
        - name: bazarr-config
          persistentVolumeClaim:
            claimName: bazarr-config-pvc
        - name: bazarr-data
          persistentVolumeClaim:
            claimName: synology-nfs-pvc
