---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: ghcr.io/hotio/sonarr:release-4.0.16.2944
          envFrom:
            - configMapRef:
                name: sonarr-configmap
          ports:
            - containerPort: 8989
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: sonarr-config
              subPath: sonarr/config
            - mountPath: /data
              name: sonarr-data

      restartPolicy: Always
      volumes:
        - name: sonarr-data
          persistentVolumeClaim:
            claimName: synology-nfs-pvc
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config-pvc
